# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.venv/
venv/
.env
.env.*

# Jupyter / Fabric
.ipynb_checkpoints/
*.log

# OS
.DS_Store
Thumbs.db

# Spark / Delta artifacts (if exported locally)
_metastore_db/
spark-warehouse/
